[supervisord]
nodaemon=true
logfile=/tmp/supervisord.log
loglevel={{ env.SUPERVISORD_LOG_LEVEL|lower or 'warn' }}
pidfile=/tmp/supervisord.pid

[program:uwsgi]
command=/venv/bin/uwsgi --ini /app/uwsgi.ini --strict
redirect_stderr=true

[program:nginx]
command=nginx -c /app/nginx.conf
redirect_stderr=true
stopsignal=QUIT
